.nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav_item {
  margin: 20px;
  padding: 5px;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.activeNavLink {
  color: rgba(241, 139, 23, 0.829);
}
input,
button {
  margin-left: 20px;
}
